extends ../base

block content
    h3 Restaurant list

    table.highlight.striped.my-2
        thead
            th Name
            th Cuisine
            th Description
            th Action

        tbody
            each restaurant in restaurant_list
                tr
                    td(width="20%")= restaurant.name
                    td(width="20%")= restaurant.cuisine
                    td(width="40%")= restaurant.description
                    td(width="15%")
                        a(href=`/restaurant/${restaurant.id}`) Edit
                        | &nbsp;|&nbsp;
                        form(action=`/restaurant/${restaurant.id}/delete`, method="POST", style="display: inline")
                            a(href='javascript:void(0)').delete-btn.red-text Delete


    .fixed-action-btn
        a(href="/restaurant/add" title="Add a restaurant").btn-floating.btn-large.red.pulse
            i.material-icons.large add
